.contact {
  display: flex;
  margin: auto;
  justify-content: center;  
}

.contact__image {
  position: relative;
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: url('../images/__background.jpg');
  background-size: cover;
  width: 92.5vw;
  max-width: 1184px;
  min-height: 740px;
  margin-top: 7.1875vw;    
}

.contact__image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 2;
  }

.contact__image:hover .contact__image-overlay {
    opacity: 0.8;
}

.contact__image-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-family: 'Inter', Arial, sans-serif;
    width: 51.25vw;
    z-index: 3;
}
  
.contact__image-text-title{
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
}

  .contact__image-text-subtitle{
    text-align: center;
    width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 0 4px 4px #000000;
    margin: 0;
    padding: 0;
    margin-top: 32px;
  }

  .contact__image-text-subtitle-p{
    text-align: center;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
   }

  .contact__image-text-tickets {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #0278FE;
    border-radius: 4px;
    width: 137px;
    height: 48px;
    margin-top: 32px;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }

  .contact__image-text-tickets:hover {
    background: #0063D2;
    }

  @media only screen and (min-width: 1281px) {

    .contact {
      max-width: 1280px;
    }
    
    .contact__image {
      margin: 0;
      padding: 0;
      margin-top: 92px;   
    }

    .contact__image-overlay {
      min-height: 740px;
    }
  }

@media only screen and (max-width: 768px) {
    .contact__image {
      width: 100%;
      min-height: 746px;
      margin: auto;
      margin-top: 88px;
    }
    .contact__image-overlay {
      min-height: 746px;
    }
}

@media only screen and (max-width: 580px) {
  .contact__image {
    min-height: 580px;
    margin-top: 64px;
  }
  .contact__image-overlay {
    min-height: 580px;
  }

  .contact__image-text-title {
    width: 288px;
    font-size: 48px;
    line-height: 46px;
  }
}
@media only screen and (max-width: 320px) {
  .contact__image {
    min-height: 254px;
  }
  .contact__image-overlay {
    min-height: 254px;
  }

  .contact__image-text {
    margin: 0;
    padding: 0;
  }

  .contact__image-text-title {
    font-size: 32px;
    line-height: 35px;
  }
  .contact__image-text-subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    justify-self: center;
  }

  .contact__image-text-subtitle-p {
    font-size: 14px;
    line-height: 16px;
  }

  .contact__image-text-tickets{
    margin-top: 16px;
  }
}