.contact {
  display: flex;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 92.5vw;
  height: 57.8vw;  
}

.contact__image {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/__background.jpg');
  max-width: 1184px;
  max-height: 740px;
  width: 100%;
  height: 100%;
  margin-top: 7.1875vw;    
}

.contact__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0;
  }

.contact__image-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: center;
    font-family: 'Inter', Arial, sans-serif;
    width: 51.25vw;
    margin-top: 130px;
}

.contact__container:hover .contact__image-overlay {
    opacity: 0.3;
}

  
.contact__image-text-title{
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
}

  .contact__image-text-subtitle{
    text-align: center;
    width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-style: regular;
    font-size: 18px;
    line-height: 22px;
    text-shadow: #000000 25%;
    margin: 0;
    padding: 0;
    margin-top: 32px;
  }

  .contact__image-text-buyTickets{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #0278FE;
    border-radius: 4px;
    width: 137px;
    height: 48px;
    margin-top: 32px;
  }

  .contact__image-text-buyTickets-text {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-style: regular;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 768px) {
    .contact__container {
      width: 100%;
      height: 746px;
      margin: auto;
    }

    .contact__image-text{
      text-align: center;
      margin-top: 185px;
    }
    .contact__image-text-title {
      
      text-align: center;
    }
    .contact__image-text-subtitle {
      text-align: center;
      
    }
  
}
@media (max-width: 320px) {
  .contact__container {
    width: 100%;
    height: 254px;
    margin: auto;
    margin-top: 64px;
  }


  .contact__image {
    object-fit: cover;
  }

  .contact__image-text{
    text-align: center;
    padding-top: 46px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    
  }

  .contact__image-text-title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    

  }
  .contact__image-text-subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }

}