.intro{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.intro__container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: left;
    max-width: 785px;
    margin-left: 11.56vw;
    margin-top: 92px;
    bottom: 0;
}

.intro__container-title {
    position: relative;
    align-self: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__container-content{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-items: left;
    max-width: 690px;
  }

.intro__container-content-quote {
    position: relative;
    align-self: flex-start;
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__container-content-name {
    position: relative;
    align-self: flex-end;
    max-width: 690px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    text-align: right;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__container-content-description {
    position: relative;
    max-width: 690px;
    margin-top: 32px;
    margin-bottom: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }


  @media only screen and (min-width: 1281px) {

    .intro {
      max-width: 984px;
    }

    .intro__container {
      max-width: 785px;
      margin: 0;
      padding: 0;
      margin-top: 92px;
      
    }
  }

  @media only screen and (max-width: 980px) {
    .intro__container {
      max-width: 720px;
      margin-left: 5vw;
    }  
}

  
  @media only screen and (max-width: 768px) {
    .intro__container {
      max-width: 93.75vw;
      margin-left: 3.125vw;
    }
  
    .intro__container-title {
      max-width: 720px;  
    }
  
    .intro__container-content-quote {
      max-width: 720px;
    }
    .intro__container-content-name {
      max-width: 720px;
      align-self: flex-end;
    }
    
    .intro__container-content-description {
      max-width: 720px;
    }    
    }
    
  @media only screen and (max-width: 580px) {
    .intro__container-title {
      font-size: 32px;
      line-height: 35px;
    }
  
    .intro__container-content-quote {
      font-size: 24px;
      line-height: 30px;
    }
    .intro__container-content-name {
      font-size: 24px;
      line-height: 34px;
      align-self: flex-end;
    }
    
    .intro__container-content-description {
      font-size: 16px;
      line-height: 163%;
    }    
    }
  @media only screen and (max-width: 320px) {

  
  .intro__container {
    width: 288px;
    margin-left: 5vw;
    margin-top: 64px;
  }

  .intro__container-title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;  
  }

  .intro__container-content-quote {
    font-size: 24px;
    line-height: 30px;
    width: 288px;
  }
  .intro__container-content-name {
    font-size: 24px;
    line-height: 34px;
    width: 288px;
    align-self: flex-start;
  }
  
  .intro__container-content-description {
    font-size: 16px;
    line-height: 163%;
    width: 288px;
  }    
}